/* // FONT // */
@font-face {
    font-family: 'Raleway';
    src: url(../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf),
        url(../src/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf),
        url(../src/assets/fonts/Raleway/static),
        url(../src/assets/fonts/Raleway/static/Raleway-Black.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-BlackItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Bold.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-BoldItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-ExtraBold.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-ExtraLight.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-ExtraLightItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Italic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Light.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-LightItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Medium.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-MediumItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Regular.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-SemiBold.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-SemiBoldItalic.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-Thin.ttf),
        url(../src/assets/fonts/Raleway/static/Raleway-ThinItalic.ttf);
}

/* // MINI RESET // */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}